@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins;
  font-size: 16px;
  line-height: 1.5;
  color: black;
  background-color: white;
}

a {
  text-decoration: none;
}

button, input, select, textarea {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 12px;
}

button {
  cursor: pointer;
}

textarea:focus, input:focus, select:focus{
  outline: none;
}

/* Media queries for responsive design - smaller screens */
@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  button, input, select, textarea {
    font-size: 0.9rem;
    padding: 0.5rem;
  }
}